.grid-container {
	display: grid;
	grid-gap: 10px;
}

.sub-container {
	display: inline-flex;
	justify-content: space-between;
}

body {
	background-color: white;
	width: 150px;
	border: 20px solid white;
}

button {
	color: rgb(255, 255, 255);
	font-size: 18px; 
	line-height: 14px; 
	padding: 5px;
	border-radius: 4px; 
	font-family: Georgia, serif; 
	background-color: rgb(51, 119, 255);
	box-shadow: rgba(0, 0, 0, 0.1) 5px 8px 15px 5px;
	border: 2px solid rgb(28, 110, 164);
	display: inline-block;
}

#sub {
	width: 50px;
}

.dom {
	width: 95px;
}